@model Pedidos.Models.Fornecedor

@{
    ViewData["Title"] = "Atualizar Fornecedor" + Model.RazaoSocial;
}

<div class="border border-light rounded-lg p-5 shadow">
    <h6>Atualizar Fornecedor + @Model.RazaoSocial</h6>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AtualizarFornecedor">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="IdFornecedor" hidden />
                <div class="form-group">
                    <label asp-for="RazaoSocial" class="col-form-label col-form-label-sm"></label>
                    <input asp-for="RazaoSocial" class="form-control form-control-sm" />
                    <span asp-validation-for="RazaoSocial" class="text-danger"></span>
                </div>
                <hr />
                <div class="form-group">
                    <label asp-for="CNPJ" class="col-form-label col-form-label-sm"></label>
                    <input asp-for="CNPJ" class="form-control form-control-sm" />
                    <span asp-validation-for="CNPJ" class="text-danger"></span>
                </div>
                <hr />
                <div class="form-group">
                    <label asp-for="UF" class="col-form-label col-form-label-sm"></label>
                    <input asp-for="UF" class="form-control form-control-sm" />
                    <span asp-validation-for="UF" class="text-danger"></span>
                </div>
                <hr />
                <div class="form-group">
                    <label asp-for="EmailContato" class="col-form-label col-form-label-sm"></label>
                    <input asp-for="EmailContato" class="form-control form-control-sm" />
                    <span asp-validation-for="EmailContato" class="text-danger"></span>
                </div>
                <hr />
                <div class="form-group">
                    <label asp-for="NomeContato" class="col-form-label col-form-label-sm"></label>
                    <input asp-for="NomeContato" class="form-control form-control-sm" />
                    <span asp-validation-for="NomeContato" class="text-danger"></span>
                </div>
                <hr />
                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-outline-primary btn-sm" />
                    <a asp-action="Index" class="btn btn-light btn-sm">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>
